# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node / React
node_modules/
dist/
build/
.eslintcache
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.db
*.sqlite
static/uploads/*
!static/uploads/.gitkeep
